<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inline Validation</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.5.11/css/pico.min.css"
    />
  </head>
  <body>
    <h3>Signup Form</h3>
    <form hx-post="/contact">
      <div hx-target="this" hx-swap="outerHTML">
        <label>Email Address</label>
        <input name="email" hx-post="/contact/email" hx-indicator="#ind" />
        <img id="ind" src="/img/bars.svg" class="htmx-indicator" />
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" name="firstName" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lastName" />
      </div>
      <button class="btn btn-default">Submit</button>
    </form>
  </body>
</html>
